@tailwind base;

h1 {
  @apply text-2xl mb-3 font-semibold;
}
h2 {
  @apply text-xl mb-3 font-semibold;
}
h3 {
  @apply text-lg mb-3 font-semibold;
}

@tailwind components;
@tailwind utilities;

.card {
  @apply rounded overflow-hidden shadow-lg p-3;
}

.input-control {
  @apply shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight;
}

.table {
  @apply w-full;
}

.table tr td > *,
.table tr th > * {
  vertical-align: middle;
}

.table tr td > * {
  @apply inline-block text-center justify-center;
}

.table-bordered tr th,
.table-bordered tr td {
  @apply border;
}

.table-row-bordered tbody tr {
  @apply border-solid border-gray-300;
  border-right: none;
  border-bottom: none;
  border-left: none;
  border-width: 1px;
}

.table-stripped tr:nth-child(even) {
  @apply bg-gray-100;
}
.table-hover tbody tr:hover {
  @apply bg-gray-200;
}

.btn {
  @apply inline-flex text-white font-bold py-2 px-4 rounded items-center;
}

.btn > * {
  @apply inline-flex;
}

.btn-sm {
  @apply py-1 px-2 rounded;
}

.btn-primary {
  @apply bg-blue-500;
}

.btn-primary:hover {
  @apply bg-blue-700;
}

.input-group {
  @apply flex flex-wrap items-stretch w-full relative shadow;
}

.input-group input {
  @apply flex-shrink flex-grow flex-auto leading-normal w-px flex-1 border h-10 border-gray-300 rounded rounded-l-none px-3 relative;
}

.input-group-icon {
  @apply flex items-center leading-normal bg-gray-100 rounded rounded-r-none border border-gray-300 px-3 whitespace-no-wrap text-gray-600 text-sm;
}

.paginate ul {
  @apply flex rounded;
  list-style: none;
}

.paginate button {
  @apply block text-blue-500 px-2 py-1 rounded bg-gray-800;
}

.paginate .active {
  @apply block text-white bg-blue-500 px-2 py-1;
}

.paginate button:hover {
  @apply block text-white bg-blue-500;
}

.select-control {
  @apply flex-1 appearance-none block bg-white border border-gray-300 px-4 py-2 pr-8 rounded shadow text-gray-600 leading-tight;
}

.badge {
  @apply inline-flex rounded-full uppercase px-2 py-1 text-xs font-bold;
}

.badge-primary {
  @apply bg-blue-500 text-white;
}

body {
  @apply bg-gray-1000 text-white;
}

header {
  @apply bg-gray-1000 text-white w-full px-2 py-2 flex items-center shadow-lg;
}

input,
select,
textarea {
  background: #292a31 !important;
  border: none !important;
  color: #eee !important;
  font-size: 0.85rem !important;
}

input::placeholder {
  color: #eee !important;
}

.input-group-icon {
  background: #2c2d35 !important;
  border: none !important;
  color: #eee !important;
}

.py-1\/2 {
  padding-top: 0.4rem !important;
  padding-bottom: 0.4rem !important;
}

.select-chevron {
  @apply pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700;
}

/* FLEX LIST */
.list-row {
  @apply bg-gray-900 flex flex-row rounded my-2 py-1/2;
}

.list-head {
  @apply flex flex-row;
}

.list-col {
  @apply py-2 content-center text-center self-center;
}

@media screen and (max-width: 996px) {
  header {
    flex-direction: column;
  }

  .search {
    display: none !important;
  }

  .list-head {
    display: none;
  }

  .list-row {
    flex-wrap: wrap;
  }

  .list-col {
    flex: 1 1 auto;
  }
}
